.search{
    @extend .flexBox;
    @include makeDiv(30px,500px);
    margin-top: 15px;

    &__bar{
        height: 100%;
        width: 100%;
        font-size:15px;

        ::placeholder{
            color: $darkGray;
        }
    }

    &__icon{
        background-color: $quarryBlue;
        height: 100%;
        padding: 3px;
    }
}

.queryForm{
    width: 100%;
}
.select{
    @extend .flexBox;
    flex-direction: column;

    &__menu{
        height: 30px;
        width: 85%;
        font-size:15px;
    }

    input[type=submit] {
        font-size: 16px;
        padding: 12px 25px; 
        margin-top: 20px;
        color: white;
        background-color: $quarryBlue;
        border: 0 none;
        cursor:pointer;
        border-radius: 5px; 
    }
}

