.App {
  text-align: center;
}

.App-header {
  background-color: #F2F2F2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/* ---------------------------------------------SEARCH BAR--------------------------------------------------- */
/* search bar with button*/
.whole-search{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-bar{
  height:30px;
  width:460px;
  font-size:15px;
}

.search-icon{
  background-color: #28ABE2;
  margin-top:7px;
  height:28px;
  width: 30px;
  padding:3px;
  border: none;
}

::placeholder{
  color:#979797;
}

.sub-button{
  margin-top: 20px;
  width:120px;
  height:50px;
  background-color:#28ABE2;
  border: none;
  font-size:18px;
  color: white;

}
/* ---------------------------------------------BASIC LAYOUT ---------------------------------------------------*/
h1{
  color: #28ABE2;
  font-size:30px;
  margin:auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}

.bg{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 500px;
  width: 600px;
}

/* --------NAVBAR ----------------------*/
.nav{
  height:70px;
  width:100%;
  position: fixed;
  top:0px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#nav-search{
  position: fixed;
  right: 20px;
}

.intro{
  color: #979797;
  text-align: left;
  font-size: 20px;
  padding: 0px 50px 10px 50px;
  line-height:25px;
}

.quarry-logo{
  height:50px;
  position: fixed;
  left:20px;
  top:10px;
}

/* ---------------------------------------------HOME PAGE ---------------------------------------------------*/
.data-draw{
  height:120px;
  margin-bottom:20px;
}

/* ---------------------------------------------DATA DISPLAY ---------------------------------------------------*/
/* FOR DISPLAYING DATA SET */
.title-div{
  display: flex;
  flex-direction: row;
}
.download-icon{
  height:30px;
  margin-left:10px;
}

#smaller-div{
  height:300px;
}




table {
  border-collapse: collapse;
}
th {
  border-bottom: 2px solid #ddd;
  padding: 8px;
  font-weight: bold;
}
td {
  padding: 8px;
  border-top: 1px solid #ddd;
}
#chart {
  padding: 0px;
}
.xaxislabel {
  font-size: 9px;
}